<%- include("partials/frontHeader") -%>

  <div class="container center">
    <h1>Make your Blog</h1>
    <p>Show your words with others</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>

  </div>

<%- include("partials/frontFooter") -%>
