<%- include("partials/frontHeader") -%>

<div class="container centered">

  <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <form action="/login" method="POST">

    <div class="form-floating">
      <input type="username" class="form-control" name="username" placeholder="spiderman">
      <!-- <label for="floatingInput">Email address</label> -->
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <!-- <label for="floatingPassword">Password</label> -->
    </div>

    <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
  </form>

</div>

<%- include("partials/frontFooter") -%>
