html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #F5F5F5;
}

.center {
  padding-top: 300px;
  text-align: center;
  justify-content: center;
}

.container.center{
  width: 30%;
  margin: auto;
  display: block;
}

.left {
  text-align: left;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container-home{
  padding-top: 20px;
}

.blog-post-meta{
  padding-top: 8px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: #708090;
}

.navbar-brand{
  color: #FFF5EE !important;
  font-size : 45px;
  letter-spacing: 2px;
}

.navbar-nav  li a {
  letter-spacing: 2px;
  color: #FFF5EE !important;
}

.navbar-nav  li a:hover {
  letter-spacing: 2px;
  color: #B0C4DE !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #708090;
}

.footer p {
	margin-top: 25px;
	font-size: 15px;
  color: #fff;
}

.register-letter{
  margin-top: 5px;
}

.compose-letter{
  margin-top: 8px;
}
